{% import 'macros/form.html' as form %}

{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else true %}
{% set form_id = form_id if form_id else false %}
{% if type == 'data' %}
  {% set placeholder = _("Enter open data search terms") %}
{% elif type == 'information' %}
  {% set placeholder = _("Enter open information search terms") %}
{% elif type == 'access-requests' %}
  {% set placeholder = _("Enter request search terms") %}
{% elif type == 'pia-summaries' %}
  {% set placeholder = _("Enter PIA summaries search terms") %}
{% endif %}

{# Set the query and error variables #}
{% set query = query if query else '' %}
{% set error = error if error else false %}
<form {% if form_id %}id="{{ form_id }}" {% endif %}class="search-form{% if no_bottom_border %} no-bottom-border{% endif %} pb-0" method="get" data-module="select-switch">

  {% block search_input %}
    <div class="input-group mb-4">
      <input aria-label="{% block header_site_search_label %}{{ placeholder }}{% endblock %}" id="field-giant-search" type="text" class="form-control border border-warning p-2" name="q" value="{{ query }}" autocomplete="off" placeholder="{{ placeholder }}" style="border-width: 2px!important;">
      {% block search_input_button %}
        <button class="btn btn-warning btn-lg" type="submit" value="search" aria-label="{{_('Submit')}}" style="z-index: 1;">
          <i class="fa fa-search"></i>
        </button>
      {% endblock %}
    </div>
  {% endblock %}

  {% block search_search_fields %}
    {% if fields -%}
      <span>{{ form.hidden_from_list(fields=fields) }}</span>
    {%- endif %}
  {% endblock %}

  {% block search_sortby %}
    {% if sorting %}
      <div class="form-group control-order-by">
        <label for="field-order-by" class="d-none sr-only">{{ _('Order by') }}</label>
        <select id="field-order-by" name="sort" class="form-control form-select">
          {% for label, value in sorting %}
            {% if label and value %}
              <option value="{{ value }}"{% if sorting_selected == value %} selected="selected"{% endif %}>{{ label }}</option>
            {% endif %}
          {% endfor %}
        </select>
        {% block search_sortby_button %}
        <button class="btn btn-default d-none js-hide" type="submit">{{ _('Go') }}</button>
        {% endblock %}
      </div>
    {% endif %}
  {% endblock %}

  {% block search_title %}
    <h5 class="text-secondary">
    {% if not error %}
      {% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}
    {% else %}
      Error
    {% endif %}
    </h5>
  {% endblock %}

  {% block search_facets %}
    {% if facets %}
      <p class="filter-list">
        {% for field in facets.fields %}
          {% set search_facets_items = facets.search.get(field)['items'] if facets.search and field in facets.search else [] %}
          <span class="facet">{{ facets.titles.get(field) }}:</span>
          {% for value in facets.fields[field] %}
            <span class="filtered pill">
              {%- if facets.translated_fields and (field,value) in facets.translated_fields -%}
                {{ facets.translated_fields[(field,value)] }}
              {%- else -%}
                {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
              {%- endif %}
              <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
            </span>
          {% endfor %}
        {% endfor %}
      </p>
      <a class="show-filters btn btn-dark shadow-lg">{{ _('Filter Results') }}</a>
    {% endif %}
  {% endblock %}

</form>

{% if show_empty and count == 0 and not error %}
  {% trans %}
    <p class="extra">Please try another search.</p>
  {% endtrans %}
{% endif %}

{% if error %}
  {% trans %}
    <p id="search-error"><strong>There was an error while searching.</strong> Please try again.</p>
  {% endtrans %}
{% endif %}