<footer id="footer" class="footer bg-eden max-w-none text-white">
  <div class="footer-left overflow-hidden py-0 px-1">
    <div class="container-lg footer-logos">
      <a href="/">
        <img src="/images/logo-white.svg" alt="Yukon Logo" style="width: 107px;" />
      </a>
    </div>
  </div>
  <div class="footer-right bg-tiber pb-2">
    <div
      class="container-lg d-md-flex align-items-md-start justify-content-md-between"
    >
      <div class="footer__menus text-base d-md-flex w-auto pt-4">
        <div class="region region-footer-menu">
          <nav
            role="navigation"
            aria-labelledby="block-footermenu-menu"
            id="block-footermenu"
            class="block block-menu navigation menu--menu-wet-footer"
          >
            <h2 class="block-title visually-hidden" id="block-footermenu-menu">
              Footer menu
            </h2>

            <ul class="menu">
              <li class="menu-item">
                <a href="https://yukon.ca/en">Home</a>
              </li>
              <li class="menu-item">
                <a href="https://yukon.ca/en/documents">Documents</a>
              </li>
              <li class="menu-item">
                <a href="https://yukon.ca/en/arts-and-culture/events">Events</a>
              </li>
              <li class="menu-item">
                <a href="https://yukon.ca/forms">Forms</a>
              </li>
              <li class="menu-item">
                <a href="https://yukon.ca/en/news">News</a>
              </li>
              <li class="menu-item">
                <a
                  href="https://yukon.ca/en/your-government/legislation/find-government-legislation"
                  >Legislation</a
                >
              </li>
              <li class="menu-item">
                <a href="https://yukon.ca/en/places">Places</a>
              </li>
            </ul>
          </nav>
          <nav
            role="navigation"
            aria-labelledby="block-secondaryfootermenu-menu"
            id="block-secondaryfootermenu"
            class="block block-menu navigation menu--menu-secondary-footer-menu"
          >
            <h2
              class="block-title visually-hidden"
              id="block-secondaryfootermenu-menu"
            >
              Secondary Footer Menu
            </h2>

            <ul class="menu">
              <li class="menu-item">
                <a
                  href="https://yukon.ca/en/your-government/contact-and-follow-government/contact-government"
                  data-drupal-link-system-path="node/1028"
                  >Contact us</a
                >
              </li>
              <li class="menu-item">
                <a
                  href="https://yukon.ca/en/copyright"
                  data-drupal-link-system-path="node/654"
                  >Copyright</a
                >
              </li>
              <li class="menu-item">
                <a
                  href="https://yukon.ca/en/disclaimer"
                  data-drupal-link-system-path="node/664"
                  >Disclaimer</a
                >
              </li>
              <li class="menu-item">
                <a
                  href="https://yukon.ca/en/privacy-statement"
                  data-drupal-link-system-path="node/662"
                  >Privacy statement</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="footer__legal font-light w-auto flex pt-2 pt-md-4 pb-2 ms-1">
        ©&nbsp;2025&nbsp;<a href="https://yukon.ca">Government of Yukon</a>
      </div>
    </div>
  </div>
</footer>
