include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/yukondesign *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/yukondesign/migration *.ini *.py *.mako
recursive-include ckanext/yukondesign/public *.*
