include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/yukon_2025_design *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/yukon_2025_design/migration *.ini *.py *.mako
recursive-include ckanext/yukon_2025_design/public *.*
