{% extends "page.html" %}
{% import "frontend/components.html" as components %}
{% set lang_prefix = '/fr' if request.environ.CKAN_LANG == 'fr' and not request.path.startswith('/fr') else '' %}

{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

{% block content %}
  <div class="homepage layout-{{ homepage_style }}">
    {% block primary_content %}
    <div class="aurora-town">
      <span class="aurora--main"></span>
    </div>
      <div style="min-height: 70vh">
        <div class="pt-5 pb-5 border-bottom">
          <div class="container">
            <div class="yt-hero-cta">
              <h1 class="yt-main-heading">{{ _("Open government") }}</h1>
              <div class="col-lg-5 px-0">
                <p>
                  {{ _("Open government is designed to improve government transparency, promote civic participation, and provide economic and social benefits.") }}
                </p>
                <div class="collapse" id="hero-read-more">
                  <p>
                    {{_("This portal is a collection of publications and datasets from Yukon government departments. The public can use and access these resources freely to learn more about how government works, to carry out research, or to use data for commercial or non-commercial purposes.")}}
                  </p>
                  <p>
                    {{_("The open government portal functions as both a library for current resources and an archive for older data and information which have historic value.")}}
                  </p>
                  <p>
                    {{ _('You can <a href="https://yukon.ca/en/your-government/open-government" target="_blank">learn more about the Government of Yukon’s open government program</a>, <a href="https://yukon.ca/en/blogs/digital-information-and-services" target="_blank">read about recent updates on the eServices blog</a>, or <a href="https://yukon.ca/en/your-government/open-government/access-information" target="_blank">visit the Access to Information Registry</a>.')|safe }}
                  </p>
                  <p>
                    {{ _('<p>\n                    For government services and news, visit <a href="https://yukon.ca/" target="_blank">Yukon.ca</a>\n                  </p>')|safe }}
                  </p>
                </div>
                <a class="btn btn-link px-0" id="read-more-button" data-bs-toggle="collapse" href="#hero-read-more" role="button" aria-expanded="false" aria-controls="hero-read-more">
                  {{ _("Read more") }}
                </a>
              </div>
            </div>
            <script>
              document.addEventListener("DOMContentLoaded", function () {
                const toggleButton = document.getElementById("read-more-button");
                const collapseElement = document.getElementById("hero-read-more");
                
                collapseElement?.addEventListener("shown.bs.collapse", function () {
                  toggleButton.textContent = "{{ _('Read less') }}";
                });
                
                collapseElement?.addEventListener("hidden.bs.collapse", function () {
                  toggleButton.textContent = "{{ _('Read more') }}";
                });
              });
            </script>
          </div>
        </div>
        <div class="pt-5 pb-5 border-bottom">
          <div class="container">
            {{ components.search_section({
              "title": _("Open information"),
              "id": "open-information",
              "description": _("Find annual reports, news releases, scientific research publications, and other information."),
              "input_placeholder": _("Enter open information search terms"),
              "action": lang_prefix ~ url_for('information.search'),
              "list_title": _("Recently updated:"),
              "list": h.recently_updated_open_informations(),
              "list_cta_title": _("See more open information publications"),
              "list_cta_href": lang_prefix ~ url_for('information.search'),
              "lang_prefix": lang_prefix
            }) }}
          </div>
        </div>
        <div class="pt-5 pb-5 border-bottom">
          <div class="container">
            {{ components.search_section({
              "title": _("Open data"),
              "id": "open-data",
              "description": _("Find statistical and administrative data, geospatial data, and other machine-readable data."),
              "input_placeholder": _("Enter open data search terms"),
              "action": lang_prefix ~ url_for('data.search'),
              "list_title": _("Featured datasets:"),
              "list": h.get_featured_datasets(),
              "list_cta_title": _("See more open data datasets"),
              "list_cta_href": lang_prefix ~ url_for('data.search'),
              "lang_prefix": lang_prefix
            }) }}
          </div>
        </div>
        <div class="pt-5 pb-5 border-bottom">
          <div class="container">
            {{ components.search_section({
              "title": _("Completed Access to Information requests"),
              "id": "completed-access-to-information-requests",
              "description": _("Find completed Access to Information requests and responsive records."),
              "input_placeholder": _("Enter request search terms"),
              "action": lang_prefix ~ url_for('access-requests.search'),
              "list_title": _("Recently added:"),
              "list": h.recently_added_access_requests(),
              "list_cta_title": _("See more completed Access to Information requests"),
              "list_cta_href": lang_prefix ~ url_for('access-requests.search'),
              "lang_prefix": lang_prefix
            }) }}
            <div class="row mt-4">
              <div class="col-lg-5 d-flex flex-column gap-2">
                <div>
                  {{ _("You can also see") }} 
                  <a href="{{ lang_prefix }}{{url_for('pia-summaries.search')}}" target="_blank">{{ _("privacy impact assessment summaries") }}</a>, 
                  {% if lang_prefix != '/fr' %}
                    <a target="_blank" href="https://yukon.ca/en/your-government/open-government/access-information">{{ _("visit the Access to Information Registry") }}</a>
                  {% else %}
                    <a target="_blank" href="https://yukon.ca/fr/votre-gouvernement/gouvernement-ouvert/acces-information">{{ _("visit the Access to Information Registry") }}</a>
                  {% endif %}
                  {{ _("or") }}
                  {% if lang_prefix != '/fr' %}
                    <a target="_blank" href="https://yukon.ca/en/legal-and-social-supports/legal-services/request-access-information-records">{{ _("submit an Access to Information request.") }}</a>
                  {% else %}
                    <a target="_blank" href="https://yukon.ca/fr/ressources-sociales-et-juridiques/services-juridiques/presenter-une-demande-dacces-des">{{ _("submit an Access to Information request.") }}</a>
                  {% endif %}
                </div>
                <div>
                  {% if lang_prefix != '/fr' %}
                    <a target="_blank" href="https://yukon.ca/en/your-government/open-government">{{ _("Learn more about the Government of Yukon’s open government program") }}</a>
                    {{ _("or") }} 
                    <a target="_blank" href="https://yukon.ca/en/blogs/digital-information-and-services">{{ _("read about recent updates on the eServices blog.") }}</a>
                  {% else %}
                    <a target="_blank" href="https://yukon.ca/fr/votre-gouvernement/gouvernement-ouvert">{{ _("Learn more about the Government of Yukon’s open government program") }}</a> 
                    {{ _("or") }} 
                    <a target="_blank" href="https://yukon.ca/fr/blogs/blogue-sur-les-renseignements-et-les-services-en-ligne">{{ _("read about recent updates on the eServices blog.") }}</a>
                  {% endif %}
                </div>
                <div>
                  {{ _("To submit a new publication or dataset, or to report an issue, contact") }} 
                  <a target="_blank" href="mailto:eservices@yukon.ca">eservices@yukon.ca</a>.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock %}
