<div class="container-fluid yt-header-container ">
  <div class="container gx-0 gx-md-4 py-4 mx-auto">
    <header class="d-flex justify-content-between align-items-md-center">
      <div class="col-4 col-md-5 ms-1 ms-sm-0 mb-1">
        <a href="/" class="yt-header-logo"
          ><img
            src="/images/logo.svg"
            alt="Home"
            style="max-width: 130px;"
        /></a>
      </div>
      
      <ul class="list-inline yt-nav-items mb-0 mt-2 mt-md-0">
        <li class="list-inline-item">
          {% if g.locale == 'fr' %}
            <a href="{{ request.path.replace('/fr', '', 1) or '/' }}" class="btn btn-link" hreflang="en" lang="en">English</a>
          {% else %}
            <a href="/fr{{ request.path if not request.path.startswith('/fr') else request.path[3:] }}" class="btn btn-link" hreflang="fr" lang="fr">Français</a>
          {% endif %}
        </li>
      </ul>
    </header>
  </div>
</div>
